<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta charset="UTF-8">
</head>
{% extends "pagelayout/index.html" %}
{% set page_title = "Memory Game" %}
{% set img = "https://wallpapercave.com/wp/wp8828312.jpg" %}


{% block content %}
<body>

<h1> Please ONLY click on 2 of the buttons</h1>
<img alt="" src="/static/images/back_1.jpg" style="height: 300px" id="card_back1" onclick="swapImage1()"/>

<img alt="" src="/static/images/back_1.jpg" style="height: 300px" id="card_back2" onclick="swapImage2()"/>

<img alt="" src="/static/images/back_1.jpg" style="height: 300px" id="card_back3" onclick="swapImage3()"/>

<img alt="" src="/static/images/back_1.jpg" style="height: 300px" id="card_back5" onclick="swapImage5()"/>

<img alt="" src="/static/images/back_1.jpg" style="height: 300px" id="card_back4" onclick="swapImage4()"/>

<img alt="" src="/static/images/back_1.jpg" style="height: 300px" id="card_back6" onclick="swapImage6()"/>


<script>
    function swapImage1(){
        var Image_Id = document.getElementById('card_back1');
        if (Image_Id.src.match("static/images/back_1.jpg")) {
            Image_Id.src = "static/images/answer_1.jpg";
        }
        else {
            Image_Id.src = "static/images/back_1.jpg";
        }

    }


        function swapImage2(){
        var Image_Id = document.getElementById('card_back2');
        if (Image_Id.src.match("static/images/back_1.jpg")) {
            Image_Id.src = "static/images/answer_2.jpg";
        }
        else {
            Image_Id.src = "static/images/back_1.jpg";
        }


    }

    function swapImage3(){
        var Image_Id = document.getElementById('card_back3');
        if (Image_Id.src.match("static/images/back_1.jpg")) {
            Image_Id.src = "static/images/answer_3.jpg";
        }
        else {
            Image_Id.src = "static/images/back_1.jpg";
        }

    }

    function swapImage4(){
        var Image_Id = document.getElementById('card_back4');
        if (Image_Id.src.match("static/images/back_1.jpg")) {
            Image_Id.src = "static/images/answer_1.jpg";
        }
        else {
            Image_Id.src = "static/images/back_1.jpg";
        }


    }

    function swapImage5(){
        var Image_Id = document.getElementById('card_back5');
        if (Image_Id.src.match("static/images/back_1.jpg")) {
            Image_Id.src = "static/images/answer_2.jpg";
        }
        else {
            Image_Id.src = "static/images/back_1.jpg";
        }


    }

    function swapImage6(){
        var Image_Id = document.getElementById('card_back6');
        if (Image_Id.src.match("static/images/back_1.jpg")) {
            Image_Id.src = "static/images/answer_3.jpg";
        }
        else {
            Image_Id.src = "static/images/back_1.jpg";
        }

    }

</script>







</body>

{% endblock %}
</html>

