<!doctype html>
<html lang="en">
<head>
<style>
    .grid{
        display: flex; /*makes it actually look like a grid*/
        flex-wrap: wrap;
        width: 560px;
        height: 560px; /*28 by 28 grid. 20px per square*/
        border: #1f2029;
    }
</style>
</head>
<head>
    <meta charset="UTF-8">
    <title>PacMan 2</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="app.js" charset="utf-8"></script>
</head>
<body>
    <div class="grid"></div>
    <h3>Score:<span id="score">0</span></h3>
</body>
</html>
