<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" type="image/x-icon" href="https://upload.wikimedia.org/wikipedia/en/thumb/4/47/FC_Barcelona_%28crest%29.svg/1200px-FC_Barcelona_%28crest%29.svg.png">

    <title>Aadya</title>
</head>

{% include "layouts/navbar.html" %}

<h1>
    Hi! Welcome to Aadya's About Me page
</h1>
{% block background %}
    <style>
        body {
            background-image: url('https://www.colorhexa.com/69b6c6.png');
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


    </style>
{% endblock %}
<body>

<br>
<br>
<h3> Click on the Image...</h3>


<script>
    function swapImage() {
        var Image_Id = document.getElementById('mask');
        if (Image_Id.src.match("static/images/mask_aadya.jpg")) {
            Image_Id.src = "static/images/aadya_without_mask.jpeg";
        }
        else {
            Image_Id.src = "static/images/mask_aadya.jpg";
        }
    }
</script>

<p>
    <img alt="" src="/static/images/mask_aadya.jpg" style="height: 300px" id="mask" onclick="swapImage()"  />
</p>



<h3>API...</h3>

<div class="col-12">
    <form action="/aadya_aboutme_api" id="translation" method="POST" >
        <label for="translation">Enter a Number!</label>
        <input name="translate" id="translate">
        <input type="submit" value="Give Fact!">
        {{ fact }}
    </form>

</div>

<br>
<br>
<h3> Showing Engagement...</h3>

<br>

<style>
    table, th, td {
        border:1px solid black;
    }
</style>
<table style="width:100%">
    <tr>
        <th>ID</th>
        <th>Tasks</th>
        <th>Scrum Board</th>
        <th>Commits</th>

    </tr>
    <tr>
        <td>@AadyaDaita</td>
        <td><a href="https://github.com/Athena9355/Fire-Alarm/issues/assigned/AadyaDaita">Tasks</a></td>
        <td><a href="https://github.com/Athena9355/Fire-Alarm/projects/1?card_filter_query=assignee%3Aaadyadaita">Scrum Board</a></td>
        <td><a href="https://github.com/Athena9355/Fire-Alarm/commits?author=AadyaDaita">Commits</a></td>
    </tr>

</table>
<br>
<br>

<p><iframe width="850" height="1100" src="https://docs.google.com/document/d/1FtdWpVy_CJZpu8YmIE0UjfWv7T8IVVkyAn3OUUUnyzo/edit?usp=sharing"></iframe></p>



</body>
</html>