<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "about_us.html" %}
    <meta charset="UTF-8">
    <title>Temp</title>
</head>

{% set icon_link = "https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3" %}
{% set firstname = "Dequavis" %}
{% set lastname = "Saquavior" %}
{% set social_media_link = "https://www.instagram.com/itsnotkar/" %}
{% set social_media_name = "instagram" %}
{% set greeting = "Hola" %}
{% set your_role = "lead entertainer" %}
{% set sentence_about_me1 = "My name is Karthik, when im carsick... my vomit is so thiccc" %}
{% set sentence_about_me2 = "I know you want a lick, but you can have my guitar pick" %}
{% set API_name = "API" %}

<body>
{% block imagefunction %}
{% endblock %}
{% block API_content %}
{% endblock %}
{% block table %}
{% endblock %}
</body>
</html>