<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "layouts/about_us.html" %}
    <meta charset="UTF-8">
    <title>Temp</title>
</head>

{% set icon_link = "https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3" %}
{% set firstname = "Athena" %}
{% set lastname = "Wu" %}
{% set social_media_link = "https://www.instagram.com/itsnotkar/" %}
{% set social_media_name = "instagram" %}
{% set greeting = "Hello" %}
{% set your_role = "scrum master" %}
{% set sentence_about_me1 = "My name is Athena" %}
{% set sentence_about_me2 = ":)" %}
{% set API_name = "API" %}
{% set github_username = "Athena9355" %}
{% set pair_share_journal = "https://docs.google.com/document/d/1RKQYQk72xNNsAfam6i4DWZPq3Ip1vbQbMoXzIbpKPdo/edit?usp=sharing" %}

<body>
{% block imagefunction %}
    <script>
        function swapImage() {
            var Image_Id = document.getElementById('mask');
            if (Image_Id.src.match("static/images/athena_mask.jpg")) {
                Image_Id.src = "static/images/athena_unmasked.jpg";
            }
            else {
                Image_Id.src = "static/images/athena_mask.jpg";
            }
        }
    </script>

    <p>
        <img alt="" src="/static/images/athena_mask.jpg" style="height: 300px" id="mask" onclick="swapImage()"  />
    </p>



{% endblock %}
<br>
<br>
{% block API_content %}
    <div class="col-12">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h3>API!</h3>
        <form action="athena_aboutme_api" id="define" method="POST" >
            <label for="define">define!</label>
            <input name="define" id="define">
            <input type="submit" value="  Define!  ">
            {{ result }}
        </form>

    </div>



{% endblock %}

</body>
</html>