<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "layouts/about_us.html" %}
    <meta charset="UTF-8">
    <title>Temp</title>
</head>

{% set icon_link = "https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" %}
{% set firstname = "Athena" %}
{% set lastname = "Wu" %}
{% set social_media_link = "https://www.instagram.com/itsnotkar/" %}
{% set social_media_name = "instagram" %}
{% set greeting = "Hello" %}
{% set your_role = "scrum master" %}
{% set sentence_about_me1 = "My name is Athena" %}
{% set sentence_about_me2 = "" %}
{% set API_name = "API" %}
{% set github_username = "kar722" %}

<body>
{% block imagefunction %}
    <script>
        function swapImage() {
            var Image_Id = document.getElementById('mask');
            if (Image_Id.src.match("static/images/athena_mask.jpg")) {
                Image_Id.src = "static/images/athena_unmasked.jpg";
            }
            else {
                Image_Id.src = "static/images/athena_mask.jpg";
            }
        }
    </script>

    <p>
        <img alt="" src="/static/images/athena_mask.jpg" style="height: 300px" id="mask" onclick="swapImage()"  />
    </p>



{% endblock %}
{% block API_content %}
    <div class="col-12">
        <form action="/athena_aboutme_api" id="joke" method="POST" >
            <label for="label">translate!</label>
            <input name="output" id="joke">
            <input type="submit" value="submit">
            {{ joke }}
        </form>

    </div>



{% endblock %}

</body>
</html>