<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "layouts/about_us.html" %}
    <meta charset="UTF-8">
    <title>GaurishAbout</title>
</head>

{% set icon_link = "" %}
{% set firstname = "Gaursh" %}
{% set lastname = "Gaur" %}
{% set social_media_link = "https://www.instagram.com/gaurish_gaur" %}
{% set social_media_name = "instagram" %}
{% set greeting = "What's Up" %}
{% set your_role = "Student, Classmate, Coder, Github Admin" %}
{% set sentence_about_me1 = "My name is Gaurish Gaur" %}
{% set sentence_about_me2 = "The name so nice you say it twice©" %}
{% set API_name = "JokesAPI" %}
{% set github_username = "gaurish-gaur" %}

<body>
{% block imagefunction %}
        <img alt="" src="/static/images/IMG-0911.JPG" style="height: 300px" id="room" onclick="switchRooms()"  />

        <script>
            function switchRooms() {
                var Image_Id = document.getElementById('room');
                if (Image_Id.src.match("static/images/IMG-0911.JPG")) {
            Image_Id.src = "static/images/IMG-0912.JPG";
                  }
                 else {
            Image_Id.src = "static/images/IMG-0911.JPG";
        }
        }


    </script>


{% endblock %}
{% block API_content %}
    <p>{{ result[0]["joke"] }}</p>
{% endblock %}

</body>
</html>