<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}



<!-- Setting up a block replacement to customize background to RINGS -->
{% block background %}
    <style>
        body {
            background-image: url('https://media2.malaymail.com/uploads/articles/2020/2020-11/pizza_12112020.jpg');
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>

    <div class="container" style="background-color: whitesmoke; width:210px; height: 230px; margin-right: 4%; margin-top: 1%; padding: 15px">
        <h3 style="text-align: center">Email Us!</h3>
       <!-- create a team email here for it to work -->
        <form action="mailto:enteremailhere@gmail.com" method="post" enctype="text/plain">
            <i>Your Name:</i><br>
            <input type="text" name="Name"><br>
            <i>Your Email:</i><br>
            <input type="text" name="Email"><br><br>
            <input style="text-align-all: center" type="submit" value="Send">
        </form>
    </div>

{% endblock %}