<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}



<!-- Setting up a block replacement to customize background to RINGS -->
{% block background %}
    <style>
        body {
            background-image: url('https://media2.malaymail.com/uploads/articles/2020/2020-11/pizza_12112020.jpg');
            height: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
{% endblock %}