<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "layouts/about_us.html" %}
    <meta charset="UTF-8">
    <title>Temp</title>
</head>

{% set icon_link = "https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3" %}
{% set firstname = "Karthik" %}
{% set lastname = "Valluri" %}
{% set social_media_link = "https://www.instagram.com/itsnotkar/" %}
{% set social_media_name = "instagram" %}
{% set greeting = "Hi" %}
{% set your_role = "Lead Designer" %}
{% set sentence_about_me1 = "I'm 15 y/o and am very passionate about coding and computer science." %}
{% set sentence_about_me2 = "But along with that I am an avid sports fan (Barca and Lakers) and I enjoy playing basketball, soccer and tennis. I also spend my free time playing video games with my friends." %}
{% set API_name = "Covid-19 Stats" %}
{% set github_username = "kar722" %}
{% set pair_share_journal = "https://docs.google.com/document/d/1RKQYQk72xNNsAfam6i4DWZPq3Ip1vbQbMoXzIbpKPdo/edit" %}

<body>
{% block imagefunction %}
{% endblock %}
{% block API_content %}
{% endblock %}
{% block background %}
<style>
    .about-left{
        background: peru;
</style>
{% endblock %}
{% block foreground %}
<style>
    .about-left-content > div{
        background: radial-gradient(lightseagreen,whitesmoke);
</style>
{% endblock %}
</body>
</html>