<!DOCTYPE html>
<html lang="en">



<body>



<!--<p>
    <img alt="" src="/static/images/athena_mask.jpg" style="height: 300px" id="mask" onclick="swapImage()"  />
</p> -->


<div style="height:500px;width:400px;overflow:auto;background-color:lightblue;color:white;scrollbar-base-color:gold;font-family:sans-serif;padding:10px;">

    <!--code source for text box: https://www.quackit.com/html/codes/html_scroll_box.cfm -->
    <form action="nutritional_info_api" id="search" method="POST" >
        <label for="search">search!</label>
        <input name="search" id="search">
        <input type="submit" value="  Search!  ">
        <!--<div style="height:1000px;width:1400px;overflow:auto;background-color:lightblue;color:white;scrollbar-base-color:gold;font-family:sans-serif;padding:10px;">
            {{ information }}
            </div>-->
    </form>
</div>
</body>