<!doctype html>
<html lang="en">
<!--references of code: https://www.youtube.com/watch?v=ju09womACpQ, by Meth Meth Method-->
{% extends "layouts/base.html" %}
{% set project = "pong" %}
{% block body %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Pong Game</title>
    </head>
    <body>
    <center>
        <div class="dropdown">          SETTINGS
            <div class="dropdownstyle" > Ball Speed
                    <input type="checkbox" name="a" class="incline checkbox" id="abox" value="1" onclick="choosy()"> Low  </input>
                    <input type="checkbox" name="b" class="incline checkbox" id="bbox" value="1" onclick="choosy()"> Medium </input>
                    <input type="checkbox" name="c" class="incline checkbox" id="cbox" value="1" onclick="choosy()"> High </input>

            </div>
            <div class="dropdownstyle" > Color Scheme
                <input type="checkbox" name="d" class="incline checkbox" id="dbox" value="1" onclick="choosy()"> Red  </input>
                <input type="checkbox" name="e" class="incline checkbox" id="ebox" value="1" onclick="choosy()"> Blue </input>
                <input type="checkbox" name="f" class="incline checkbox" id="fbox" value="1" onclick="choosy()"> Green </input>

            </div>
            <div class="dropdownstyle" > AI Difficulty
                <input type="checkbox" name="g" class="incline checkbox" id="gbox" value="1" onclick="choosy()"> Novice  </input>
                <input type="checkbox" name="h" class="incline checkbox" id="hbox" value="1" onclick="choosy()"> Intermediate </input>
                <input type="checkbox" name="i" class="incline checkbox" id="ibox" value="1" onclick="choosy()"> Advanced </input>

            </div>
            <div class="dropdownstyle" > Background Color
                <input type="checkbox" name="j" class="incline checkbox" id="jbox" value="1" onclick="choosy()"> Black  </input>
                <input type="checkbox" name="k" class="incline checkbox" id="kbox" value="1" onclick="choosy()"> White </input>
                <input type="checkbox" name="l" class="incline checkbox" id="lbox" value="1" onclick="choosy()"> Random </input>

            </div>
        </div>
    </center>

=    <style>
        .dropdownstyle {
            background-color: #000000;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown-content a:hover {background-color: #f1f1f1}

        .dropdown:hover .dropdown-content {
            display: block;
        }
        .dropdown:hover {
            box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
            transform:scale(1.2);
            background-color: gray;
        }

    </style>
    <style>
        .button1 {
            border: 2px solid #463d3d;
            border-radius: 4px;
            padding: 5px;
            width: 150px;
            color: antiquewhite;
            font-size: 20px;
            background-color: darkblue;
        }

        /* hover over effect*/
        .button1:hover {
            box-shadow: 0 0 2px 2px rgba(0, 140, 186, 0.5);
            transform:scale(2);
            background-color: gray;
        }
    </style>

    <h1>Click on the screen to start the game!</h1>
    <div style="text-align: center">
        <canvas id="pong" width="600" height="400" ></canvas>
    </div>

    <script>
        //player 0: user
        //player 1: computer
        let randomNum;
        randomNum=0
        setInterval(function test(){
            randomNum = window.Math.floor(Math.random()* 75);
            //document.getElementById("randomNum").innerHTML = randomNum

        }, 10000);


        let vel;
        vel=500

        function myFxn() {
           /* if (document.getElementById('button').onclick === true){ */
                vel= 1000;


            }
        let colorpicked;
        colorpicked='#ffffff'

        let bcolor;
        bcolor='#000000'




        function choosy() {
            const a = document.getElementById("abox")
            const b = document.getElementById("bbox")
            const c = document.getElementById("cbox")
            const d = document.getElementById("dbox")
            const e = document.getElementById("ebox")
            const f = document.getElementById("fbox")
            const g = document.getElementById("gbox")
            const h = document.getElementById("hbox")
            const i = document.getElementById("ibox")
            const j = document.getElementById("jbox")
            const k = document.getElementById("kbox")
            const l = document.getElementById("lbox")

            if (a.checked){
                vel= 250;

            }

            if (b.checked){
                vel= 500;

            }
            if (c.checked){
                vel= 750;

            }
            if (d.checked){
                colorpicked='#ff0000'
            }
            if (e.checked){
                colorpicked='#0012ff'
            }
            if (f.checked){
                colorpicked='#00ff04'
            }
            if (g.checked){
                setInterval(function test(){
                    randomNum = window.Math.floor(Math.random()* 100);


                }, 3000);
            }
            if (h.checked){
                setInterval(function test(){
                    randomNum = window.Math.floor(Math.random()* 75);


                }, 3000);
            }
            if (i.checked){
                setInterval(function test(){
                    randomNum = window.Math.floor(Math.random()* 60);


                }, 3000);
            }
            if (j.checked){
                bcolor='#000000'
            }
            if (k.checked){
                bcolor='#ffffff'
            }
            if (l.checked){
                bcolor="#" + ((1<<24)*Math.random() | 0).toString(16)
/* Credit to https://stackoverflow.com/questions/1484506/random-color-generator for inspiration on random color code*/
            }
            }



        /*else {
            velocity=100;
            document.getElementById("velocity").innerHTML = velocity;

        }*/



        /*score tracker*/
        var score0 = 0;
        var score1 = 0;
        function drawScore() {
            ctx.font = "16px Arial";
            ctx.fillStyle = "#0095DD";
            ctx.fillText("Score of: "+score1, 8, 20);
        }


        /*setting up a vector to hold an x position and y position*/
        class Vec{
            /*default x and y = 0*/
            constructor(x = 0, y = 0){
                this.x = x;
                this.y = y; /*vector can be reused*/
            }
        }

        /*because we need to paint rectangles multiple times, create a generalized data structure for rectangle*/
        class Rect{
            constructor (w, h){ /*with a width and height*/
                /*position of rectangle*/
                this.pos = new Vec; /*new function creates an instance of a user-defined object*/
                this.size = new Vec(w, h); /*size*/
            }
            get left(){
                return this.pos.x - this.size.x / 2; /*to get the left end of the rectangle. position of x minus half the side length --> give the left end of the rectangle*/
            }
            get right(){
                return this.pos.x + this.size.x / 2; /*to get the left end of the rectangle. position of x minus half the side length --> give the left end of the rectangle*/
            }
            get top(){
                return this.pos.y + this.size.y / 2; /*to get the left end of the rectangle. position of x minus half the side length --> give the left end of the rectangle*/
            }
            get bottom(){
                return this.pos.y - this.size.y / 2; /*to get the left end of the rectangle. position of x minus half the side length --> give the left end of the rectangle*/
            }
        }
        /*to create the ball with rect*/
        class Ball extends Rect{
            constructor()
            {
                super(10, 10); /*super is a reference variable that calls for parent class object*/
                /*add velocity*/
                this.vel = new Vec;
            }
        }

        /*create a player class*/
        class Player extends Rect{ /*to draw rectangles*/
            constructor() {
                super(20, 100); /*super class with 20 width 100 height*/
                this.score = 0;
            }
        }


        /*classify everything into a class called pong*/
        class Pong{
            constructor(canvas){
                this._canvas = canvas;
                /*to access canvas context*/
                /*making the game 2d*/
                this._context = canvas.getContext('2d');

                this.ball = new Ball;

                /*setting up player array that contains all the players*/
                this.players = [
                    /*two instances of players*/
                    new Player,
                    new Player,
                ];

                /*positioning the players in the right place*/
                this.players[0].pos.x = 40 /*player 1*/
                this.players[1].pos.x = this._canvas.width - 40; /*player 2. 40 from the right*/
                this.players.forEach(player => {
                    player.pos.y = this._canvas.height / 2;
                });/*put the players in the middle of the page. height wise*/

                /*use requestanimationframe to date the ball's position*/
                /*requestanimationframe: takes a callback and calls the callback for the next time the browser is ready to draw. in the call back, you will get the elapsed time since the page is loaded. We have to calculate how much time had passed since the last requestanimation frame*/
                let lastTime;
                /*we will now callback lastTime*/
                /*codes for the motion of the ball*/
                const callback = (millis) => {/*get milliseconds from requestanimationframe*/
                    /*check to see if we have lastTime*/
                    if (lastTime){ /*if we do have lastTime, we will use it to calculate the difference*/
                        /*function update is called. defined the value of dt*/
                        this.update((millis - lastTime) / 1000); /*updates the difference in time and convert it to whole seconds*/
                    }
                    lastTime = millis;
                    /*attached callback to request animation again*/
                    requestAnimationFrame(callback)
                    //document.getElementById("time").innerHTML = lastTime
                };
                callback();
                //3458
                this.CHAR_PIXEL = 10;
                this.CHARS =
                    [
                        '111101101101111', //displays 0
                        '010010010010010', //1
                        '111001111100111', //2
                        '111001111001111', //3
                        '101101111001001', //4
                        '111100111001111', //5
                        '111100111101111', //6
                        '111001001001001', //7
                        '111101111101111', //8
                        '111101111001111', //9
                    ].map(str => {
                        //the code goes through every string in the array and create a canvas accordingly
                        const canvas = document.createElement('canvas');
                        //canvas dimension: 3 by 5
                        canvas.height = this.CHAR_PIXEL * 5;
                        canvas.width = this.CHAR_PIXEL * 3;
                        //2d context
                        const context = canvas.getContext('2d');
                        context.fillStyle = '#fff' //white context
                        //paint the canvas individually
                        //str from str defined above
                        str.split('').forEach((fill, i) => {//will fill either a 1 or 0
                            //if we have a 1, we want to fill. 0 ==> no filling
                            if (fill === '1'){ //then we will add a pixel here
                                context.fillRect((i % 3) * this.CHAR_PIXEL, (i / 3 | 0) * this.CHAR_PIXEL, this.CHAR_PIXEL, this.CHAR_PIXEL);
                            }
                        });
                        return canvas;
                    });
                this.reset();
            }

            /*collision method that detects when the ball hits the players*/
            collide(player, ball){/*takes a player and a ball. defining function collide*/
                /*using the left, right, top, buttom we defined before*/
                /*player.left < ball.right means that the ball hits the player on the right*/
                /*player.right > ball.left --> the ball hits the player on the left side of the screen*/
                /* player.bottom < ball.top --> the bottom of the player hits the ball*/
                /*player top > ball.bottom --> top of player hits the bottom of ball*/
                if (player.left < ball.right && player.right > ball.left && player.bottom < ball.top && player.top > ball.bottom){
                    ball.vel.x = -ball.vel.x;
                }
            }

            draw(){
                /*background color of the canvas. color = black*/
                this._context.fillStyle = bcolor;
                /*draw a rectangle from upper left hand corner to the full width and height*/
                this._context.fillRect(0,0, this._canvas.width, this._canvas.height);

                this.drawRect(this.ball);

                /*draw the players*/
                this.players.forEach(player => this.drawRect(player)); /*we can use draw Rect for player because players will be rectangle*/
                this.drawScore();

            }

            drawRect(rect){ /*taking rect as the input*/
                /*drawing a ball*/
                /*color of the ball. color = white*/
                /*create new ball*/
                this._context.fillStyle = colorpicked;
                /*draw a rectangle from upper left hand corner to the full width and height*/
                this._context.fillRect(rect.left, rect.bottom, rect.size.x, rect.size.y);
            }

            drawScore(){
                const align = this._canvas.width / 3;//alignment has to be centered
                const CHAR_W = this.CHAR_PIXEL * 4;//calculate the width. x4 becuase each is 3 px and we add an extra space to it
                this.players.forEach((player, index) => {
                    //convert the scores into characters
                    const chars = player.score.toString().split('');//.split --> turns into array
                    //calculate the offset
                    //char.length = how many integers in a number
                    // /2 to center it
                    const offset = align * (index + 1) - (CHAR_W * chars.length / 2) + this.CHAR_PIXEL / 2;//offset from the left
                    //char and pos will be position 1 and position 2
                    //for example, if you have 12, the 1 will be position 0 and 2 will be 1
                    chars.forEach((char, pos) => {
                        this._context.drawImage(this.CHARS[char|0],
                                                offset + pos * CHAR_W, 20); //apply index of canvas we prepared earlier
                    })

                })
            }

            /*define reset method*/
            reset(){
                this.ball.pos.x = this._canvas.width / 2; /*set the initial position of ball in the middle*/
                this.ball.pos.y = this._canvas.height / 2;
                this.ball.vel.x = 0; /*initial velocity set to 0*/
                this.ball.vel.y = 0;

            }
            /*start the game when the user clicks*/
            start(){
                if (this.ball.vel.x === 0 && this.ball.vel.y === 0){

                    //math.random --> generate a number between 0 and 1. if the number is less than 0.5, we multiply the number by 1 but if the number is greater than 0.5, we multiply the number by -1. this randomly generates the direction the ball is going
                    this.ball.vel.x = 400 * (Math.random() > 0.5 ? 1 : -1);
                    //changes the y velocity a little
                    this.ball.vel.y = 400;
                    this.ball.vel.x = vel;
                    this.ball.vel.y = vel;

                    randomNum=0
                }
            }

            /*function rand(0, 1000) {
                let randomNum = Math.random() * (1000);
                return Math.round(randomNum);}*/





            /*animates the ball*/
            update(dt){ /*takes dt and calcuate with it under the function update*/
                this.ball.pos.x += this.ball.vel.x * dt;
                this.ball.pos.y += this.ball.vel.y * dt;

                /*creating boundary for the ball to bounce off of*/
                /*detects if the ball touches the screen*/
                if (this.ball.left < 0 || this.ball.right > this._canvas.width){/*past left end of canvas or ball past width of canvas*/
                    /*as the ball hits the wall, we will decide the direction of the velocity. if the velocity is to the right, the player on the right gets the point*/
                    /*keeping track of scores*/


                    //reference code for score + https://developer.mozilla.org/en-US/docs/Games/Tutorials/2D_Breakout_game_pure_JavaScript/Track_the_score_and_win
                    let playerId;
                    const score0 = 0;
                    const score1 = 0;
                    if (this.ball.vel.x < 0){
                        playerId = 1;
                    } else {
                        playerId = 0;
                    }

                    /*adding score to the player who won*/
                    this.players[playerId].score ++;
                    this.reset();

                    //this.ball.vel.x = -this.ball.vel.x /*if the ball passes the boundary, we invert the velocity of the ball*/
                }
                if (this.ball.bottom < 0 || this.ball.top > this._canvas.height){/*past left end of canvas or ball past width of canvas*/
                    this.ball.vel.y = -this.ball.vel.y /*if the ball passes the boundary, we invert the velocity of the ball*/
                }
                this.draw();

                /*making player 2. the computer that will follow the ball's y position*/
                /*function rand(0, 1000) {
                let randomNum = Math.random() * (1000);
                return Math.round(randomNum);}*/



                /*  let randomNum;

                  (function repeat() {
                      randomNum = Math.random(0, 1000)* 1000;
                      setTimeout(repeat, 100000000000000000000000000000000000);
                      document.getElementById("randomNum").innerHTML = randomNum

                  })(); */
                this.players[1].pos.y = this.ball.pos.y + randomNum;

                this.players.forEach(player => this.collide(player, this.ball));
            }
        }

        /*accesses the canvas*/
        const canvas = document.getElementById('pong');
        const pong = new Pong(canvas); /*initiallize the game*/

        /*player 1 will be controlled by the mouse*/
        canvas.addEventListener('mousemove', event =>{
            pong.players[0].pos.y = event.offsetY;
        }); /*addEventListener --> the function will be called when an event happens*/

        canvas.addEventListener('click', event =>{
            pong.start();
        });

    </script>

{% endblock %}
</body>
</html>