<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "layouts/about_us.html" %}
    <meta charset="UTF-8">
    <title>Siya</title>
</head>

{% set icon_link = "https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3" %}
{% set firstname = "Siya" %}
{% set lastname = "Dixit" %}
{% set social_media_link = "https://www.instagram.com/itsnotkar/" %}
{% set social_media_name = "instagram" %}
{% set greeting = "Hello" %}
{% set your_role = "Deployment Manager" %}
{% set sentence_about_me1 = "My name is Siya" %}
{% set sentence_about_me2 = "Welcome to my About Me page" %}
{% set API_name = "API" %}
{% set github_username = "siya-dixit" %}

<body>
{% block imagefunction %}
    <script>
        function swapImage() {
            var Image_Id = document.getElementById('mask');
            if (Image_Id.src.match("static/images/siya_unmasked.jpg")) {
                Image_Id.src = "static/images/siya_mask.JPG";
            }
            else {
                Image_Id.src = "static/images/siya_unmasked.jpg";
            }
        }
    </script>


    <p>
        <img alt="" src="/static/images/siya_unmasked.jpg" style="height: 300px" id="mask" onclick="swapImage()"  />
    </p>


{% endblock %}
{% block API_content %}
{% endblock %}

</body>
</html>