<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "layouts/about_us.html" %}
    <meta charset="UTF-8">
    <title>Temp</title>
</head>

{% set icon_link = "https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3" %}
{% set firstname = "Siya" %}
{% set lastname = "Saquavior" %}
{% set social_media_link = "https://www.instagram.com/itsnotkar/" %}
{% set social_media_name = "instagram" %}
{% set greeting = "Hola" %}
{% set your_role = "lead entertainer" %}
{% set sentence_about_me1 = "My name is Karthik, when im carsick... my vomit is so thiccc" %}
{% set sentence_about_me2 = "I know you want a lick, but you can have my guitar pick" %}
{% set API_name = "API" %}
{% set github_username = "kar722" %}

<body>
{% block imagefunction %}
<script>
    function swapImage() {
        var Image_Id = document.getElementById('mask');
        if (Image_Id.src.match("static/images/siya_mask.JPG")) {
            Image_Id.src = "static/images/siya_unmasked.jpg";
        }
        else {
            Image_Id.src = "static/images/siya_mask.JPG";
        }
    }
</script>

<p>
    <img alt="" src="/static/images/siya_mask.JPG" style="height: 300px" id="mask" onclick="swapImage()"  />
</p>
{% endblock %}
{% block API_content %}
<div class="col-12">
    <!--<form action="/siya_aboutme_api" id="trivia" method="POST" >
        <label for="trivia">Enter a Number!</label>
        <input name="trivia" id="trivia!">
        <input type="submit" value="Give Fact!">
        {{ fact }}
    </form> -->

    <div class="col-12">
        <form action="/siya_aboutme_api" id="trivia" method="POST" >


            <input type="submit" value="Click Me!">-->
            {{ trivia }}
        </form>

    </div>

<!--
    <button onclick="trivia()">Click me!</button>
    <p id="demo"></p>
    <script>
        function trivia(){
            document.getElementById("demo").innerHTML = "{{ trivia }}";
        }
    </script>
-->
</div>

{% endblock %}

</body>
</html>